# files produced by compiler
dist-newstyle
*.o
*.hi
*.errors

# log from the build script
build.log

# compiled xmonad and xmobar executables
xmonad-*
xmobar-*

# files used by stack
.stack-work/

# created by nix-build
result

# files automatically created by xmonad
xmonad.state
prompt-history
