# files produced by compiler
*.o
*.hi
*.errors
build.log

# compiled xmonad and xmobar executables
xmonad-*
xmobar-*

# files used by stack
.stack-work/

# created by nix-build
result

# files automatically created by xmonad
xmonad.state
prompt-history
